html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12px;
	background-color: #7cbbda;
}

body {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2em;
	font-family: 'Bahnschrift';
	font-size: 1.4rem;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Olde English';
}

h1 {
	font-size: 4rem;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 10px black;
}

h2 {
	font-size: 3rem;
	text-align: center;
}

h3 {
	font-size: 2.2rem;
}

nav, article, aside, footer {
	background-color: white;
	border-radius: 10px;
}

nav, .article-body, aside, footer {
	padding: 1%;
}

nav {
	background-color: #fad799;
}

.flex-list {
	height: 50px;
	display: flex;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.flex-list ul {
	padding: 0;
	list-style-type: none;
	flex: 2;
	display: flex;
}

.flex-list li {
	display: inline;
	text-align: center;
	flex: 1;
}

nav a {
	display: inline-block;
	font-size: 2rem;
	text-transform: uppercase;
}

nav form {
	flex: 1;
	display: flex;
	align-items: center;
	height: 100%;
}

main {
	display: flex;
}

article {
	flex: 4;
}

footer {
	margin-top: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

nav a {
	color: black;
}

.pretty-button {
	background-color: #fad799;
	text-decoration: none;
	padding: 20px;
	border-radius: 10px;
	color: black;
}
